<div>
  <h1>New article</h1>
  <%= form_with(model: @article) do |form| %>

    <div class="d-flex flex-column">
      <%= form.label :title %>
      <%= form.text_field :title, class:"my-2 border border-none rounded"  %>
      <%= form.label :text %>
      <%= form.text_area :text, class:"my-2 border border-none rounded" %>
    </div>

    <%= turbo_frame_tag 'image_gallery', src: new_image_gallery_path %>

    <div class="d-flex justify-content-center my-2">
      <%= form.submit %>
    </div>

  <% end %> 
</div>
