<div>
  <h1>New article</h1>
  <%= form_with(model: @article) do |form| %>

    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :text %>
      <%= form.text_area :text %>
    </div>

    <% if @article.image_gallery %>
      <%= turbo_frame_tag 'image_gallery', src: image_gallery_path(@article.image_gallery) %>
    <% else %>
      <%= turbo_frame_tag 'image_gallery', src: new_image_gallery_path %>
    <% end %>

    <div>
      <%= form.submit %>
    </div>

  <% end %> 
</div>
